/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */


:root {
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --color-white: #ffffff;
}
* {
    box-sizing: border-box;
}

.container {
    width: 1352px;
    margin: 0 auto;

}

.header {
    position: relative;
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 100;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: var(--color-primary);
    text-decoration: none;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-list a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    color: var(--color-grey);
    text-decoration: none;
    padding: 28px 40px 27px;
}

.menu-list a:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

.hero {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-inside {
    margin-top: 200px;
    text-align: center;
}

.hero-title {
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    color: var(--color-black);
}

.hero-text {
    margin-top: 20px;
    margin-bottom: 38px;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-black);
}

.hero-button {
    color: var(--color-white);
    font-weight: bold;
    display: inline-block;
    border: none;
    background-color: var(--color-primary);
    border-radius: 40px;
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
    padding: 22px 155px;
    text-decoration: none;
}
.hero_img {
    width: 100%;
    height: auto;
}

.statistics-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 149px;
}
.statistics-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: var(--color-black);
}

.box-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-one-icone {
    width: 44px;
    height: 52px;
    margin-bottom: 22px;
    margin-left: 52px;
    position: absolute;
    right: -25%;
   
}
.box-one-circle {
    width: 63px;
    height: 63px;
    background-color: #FB3B64;
    border-radius: 50%;
    position: relative;
    margin-bottom: 14px;
    

}
.box-one-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: var(--color-black);
    letter-spacing: 6px;
    margin-bottom: 19px;
}
.box-one-text {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #A5A5A5;
    text-align: center;
}
.box-two {
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.box-two-circle {
        width: 63px;
        height: 63px;
        background-color: #08A6E4;
        border-radius: 50%;
        position: relative;
        margin-bottom: 13px;
}
.box-two-icone {
    width: 65px;
    height: 37px;
    margin-top: 14px;
    margin-bottom: 25px;
    margin-left: 78px;
    position: absolute;
    right: -25%;
}
.box-two-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: var(--color-black);
    letter-spacing: 6px;
    margin-bottom: 19px;
}
.box-two-text {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #A5A5A5;
    text-align: center;
}
.box-three {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-three-circle {
    width: 63px;
    height: 63px;
    background-color: #55DFB4;
    border-radius: 50%;
    position: relative;
    margin-bottom: 14px;
}
.box-three-icone {
    width: 52px;
    height: 48px;
    margin-bottom: 23px;
    margin-left: 82px;
    position: absolute;
    right: -25%;
}
.box-three-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: var(--color-black);
    letter-spacing: 6px;
    margin-bottom: 19px;
}
.box-three-text {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #A5A5A5;
    text-align: center;
}

.benefits {
    background-color: #F7F7F7;
    display: flex;
}

.benefits-first-box {
    background-color: #FFFFFF;
    display: flex;
    margin-top: 105px;
    height: 370px;
    width: 100%;
}

.benefits-first-box-article {
    display: flex;
    flex-direction: column;
    align-items: flex start;
    justify-content: center;
    width: 50%;
    
}
.benefits-first-box-text-title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 36px;
    

   
}
.benefits-first-box-article-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: left;
    margin-left: 36px;
}
.benefits-first-box-article-line {
    width: 328px;
    height: 4px;
    background-color: #FB3B64;
    margin-left: 35px;
    margin-top: 50px;
}
.benefits-first-box-photo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

   
}

.benefits-first-box-photo-circle {
    width: 180px;
    height: 180px;
    background-color: #FB3B64;
    border-radius: 41px;
    transform: rotate(45deg);
    position: relative;
    bottom: 30px;
    left: 35px;
    
    
}

.benefits-first-box-photo-img {
    width: 400px;
    height: 250px;
    padding-top: 113px;
    padding-right: 118px;
    padding-top: 38px;
    padding-bottom: 38px;
    margin-left: 50px;
    position: absolute;
    
}

.benefits-two-box {
    background-color: #FFFFFF;
    display: flex;
    margin-top: 105px;
    height: 370px;
    width: 100%;
    gap: 192px;
}

.benefits-two-box-article {
    display: flex;
    flex-direction: column;
    align-items: flex start;
    justify-content: center;
    width: 50%;
    
    
}
.benefits-two-box-text-title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: left;
    margin-bottom: 30px;
    margin-right: 210px;
    

   
}
.benefits-two-box-article-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: left;
    margin-right: 20px;
}
.benefits-two-box-article-line {
    width: 328px;
    height: 4px;
    background-color: #08A6E4;
    margin-top: 50px;
}

.benefits-two-box-photo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
   
}

.benefits-two-box-photo-circle {
    width: 320px;
    height: 320px;
    background-color: #08A6E4;
    border-radius: 50%;
    position: relative;
    right: 25px;
    
    
}

.benefits-two-box-photo-img {
    width: 426px;
    height: 328x;
    margin-left: 70px;
    margin-top: 29px;
    position: absolute;
}

.benefits-three-box {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin-top: 105px;
    height: 370px;
    width: 100%;
    margin-bottom: 105px;
}

.benefits-three-box-article {
    display: flex;
    flex-direction: column;
    align-items: flex start;
    justify-content: center;
    width: 50%;
    
    
    
}
.benefits-three-box-text-title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 35px;

   
}
.benefits-three-box-article-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: left;
    margin-left: 35px;

}
.benefits-three-box-article-line {
    width: 328px;
    height: 4px;
    background-color: #55DFB4;
    margin-top: 50px;
    margin-left: 35px;
}

.benefits-three-box-photo {
    width: 44%;
    display: flex;
    background-color: #55DFB4;
    justify-content: center;
    align-items: center;
    position: relative;
   
}

.benefits-three-box-photo-border {
    height: 100%;
    width: 61px;
    background-color: #F7F7F7;
    position: absolute;
    left: 0;
}

.benefits-three-box-photo-circle {
    width: 320px;
    height: 320px;
    background-color: #08A6E4;
    border-radius: 50%;
    position: relative;
    right: 25px;
    
    
}

.benefits-three-box-photo-img {
    width: 426px;
    height: 328x;
    margin-top: 98px;
    margin-left: 82px;
    position: absolute;
}

.prices-title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: center;

}
.prices-container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 155px;
  }
  
  .prices-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

.prices-first-box {
    width: 372px;
    height: 461px;
    border-radius: 18px;
    border: 1px solid #FB3B64;
    margin-right: 59px;
    position: relative;

}
.prices-first-box-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prices-first-box-type {
    margin-top: 34px;
    margin-bottom: 14px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #13253B;
    font-weight: bold;
}
.prices-first-box-price {
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
    color: #FB3B64;
    margin-bottom: 69px;
}
.prices-first-box-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prices-first-box-list-item {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.prices-first-box-list-item::before {
    content: url(../assets/Ckechmark-1.svg);
    width: 5px;
    height: 5px;
    margin-right: 10px;

}
.prices-first-box-list-item-other {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;

}
.prices-first-box-list-item-other::before {
    content: url(../assets/Close.svg);
    width: 5px;
    height: 5px;
    margin-right: 10px;
  
    
}


.first-btn {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    background-color: #EB476E;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    text-decoration: none;
    position: absolute;
    left: 30%;
    bottom: -5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.prices-two-box {
    width: 405px;
    height: 500px;
    border-radius: 18px;
    border: 1px solid #07ACE6;
    margin-right: 59px;
    position: relative;
    box-shadow: 5px 10px 27px #07ACE629;

}
.prices-two-box-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prices-two-box-type {
    margin-top: 34px;
    margin-bottom: 14px;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    color: #13253B;
    font-weight: bold;
}
.prices-two-box-price {
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
    color: #07ACE6;
    margin-bottom: 5px;
}

.prices-two-box-limited {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #13253B;
    margin-bottom: 61px;
}

.prices-two-box-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prices-two-box-list-item {
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.prices-two-box-list-item::before {
    content: url(../assets/Ckechmark-1.svg);
    width: 5px;
    height: 5px;
    margin-right: 10px;

}
.prices-two-box-list-item-other {
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;

}
.prices-two-box-list-item-other::before {
    content: url(../assets/Close.svg);
    width: 5px;
    height: 5px;
    margin-right: 10px;
  
}

.two-btn {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    background-color: #07ACE6;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    text-decoration: none;
    position: absolute;
    left: 30%;
    bottom: -5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.prices-three-box {
    width: 372px;
    height: 461px;
    border-radius: 18px;
    border: 1px solid #55DFB4;
    position: relative;

}
.prices-three-box-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prices-three-box-type {
    margin-top: 34px;
    margin-bottom: 14px;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    color: #13253B;
    font-weight: bold;
}
.prices-three-box-price {
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
    color: #55DFB4;
    margin-bottom: 5px;
}

.prices-three-box-limited {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #13253B;
    margin-bottom: 50px;
}

.prices-three-box-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prices-three-box-list-item {
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.prices-three-box-list-item::before {
    content: url(../assets/Ckechmark-1.svg);
    width: 5px;
    height: 5px;
    margin-right: 10px;

}
.prices-three-box-list-item-other {
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;

}
.prices-three-box-list-item-other::before {
    content: url(../assets/Close.svg);
    width: 5px;
    height: 5px;
    margin-right: 10px;
  
}

.three-btn {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    background-color: #55DFB4;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    text-decoration: none;
    position: absolute;
    left: 30%;
    bottom: -5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contact-form {
    display: flex;
    align-items: flex-start;
   
    max-width: 840px;
    margin: 0 auto;
}
.contact-form-left {
    flex: 1;
    margin-right: 50px;

.contact-form-left-mail-phone {
    display: flex;
    justify-content: space-between;
}
   
}
.contact-form-right {
    flex: 1;
}

.contact-form-left-title {
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    color: var(--color-black);
    margin-bottom: 22px;

}
.contact-form-left-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--color-black);
    margin-bottom: 42px;
}
.contact-form-left-mail {
    font-size: 16px;
    color: var(--color-grey);
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.contact-form-left-mail::before {
    content: url(../assets/Mail\ Icon.svg);
    width: 27px;
    height: 27px;
    margin-right: 10px;

}
.contact-form-left-phone {
    margin-right: 70px;
    font-size: 16px;
    color: var(--color-grey);
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form-left-phone::before {
    content: url(../assets/Phone\ Icon.svg);
    width: 27px;
    height: 27px;
    margin-right: 10px;
}



.form {}
.form-row {
    margin-bottom: 20px;
}
.form-row--last {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
}
.form-label {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 3.28px;
    color: var(--color-primary);
    text-transform: uppercase;
}
.form-control {
    height: 38px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--color-black);
    padding: 0 10px;
    width: 100%;
    font-family: inherit;
    color: #aaa;
}

.form-check {
    display: flex;
    gap: 10px;
}
.form-check-input {
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    border-radius: 8px;
    border: 1px solid rgba(209 209 209 / 1);
    appearance: none;
}
.form-check-input:checked {
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
}
.form-check-label {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    line-height: 17px;
    color: var(--color-grey);
}

.form-btn {
    margin-bottom: 20px;
    width: 220px;
    height: 50px;
    border-radius: 35px;
    border: none;
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    color: var(--color-light-grey);
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}