/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */


:root {
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --color-white: #ffffff;
}
* {
    box-sizing: border-box;
}

.container {
    width: 1352px;
    margin: 0 auto;

}

.header {
    position: relative;
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 100;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: var(--color-primary);
    text-decoration: none;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-list a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    color: var(--color-grey);
    text-decoration: none;
    padding: 28px 40px 27px;
}

.menu-list a:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

.hero {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-inside {
    margin-top: 200px;
    text-align: center;
}

.hero-title {
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    color: var(--color-black);
}

.hero-text {
    margin-top: 20px;
    margin-bottom: 38px;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-black);
}

.hero-button {
    color: var(--color-white);
    font-weight: bold;
    display: inline-block;
    border: none;
    background-color: var(--color-primary);
    border-radius: 40px;
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
    padding: 22px 155px;
    text-decoration: none;
}
.hero_img {
    width: 100%;
    height: auto;
}

.statistics-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 149px;
}
.statistics-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: var(--color-black);
}

.box-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-one-icone {
    width: 44px;
    height: 52px;
    margin-bottom: 22px;
    margin-left: 52px;
    position: absolute;
    right: -25%;
   
}
.box-one-circle {
    width: 63px;
    height: 63px;
    background-color: #FB3B64;
    border-radius: 50%;
    position: relative;
    

}
.box-one-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: var(--color-black);
    letter-spacing: 6px;
    margin-bottom: 19px;
}
.box-one-text {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #A5A5A5;
    text-align: center;
}
.box-two {
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.box-two-circle {
        width: 63px;
        height: 63px;
        background-color: #08A6E4;
        border-radius: 50%;
        position: relative;
}
.box-two-icone {
    width: 65px;
    height: 37px;
    margin-top: 14px;
    margin-bottom: 25px;
    margin-left: 78px;
    position: absolute;
    right: -25%;
}
.box-two-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: var(--color-black);
    letter-spacing: 6px;
    margin-bottom: 19px;
}
.box-two-text {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #A5A5A5;
    text-align: center;
}
.box-three {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-three-circle {
    width: 63px;
    height: 63px;
    background-color: #55DFB4;
    border-radius: 50%;
    position: relative;
}
.box-three-icone {
    width: 52px;
    height: 48px;
    margin-bottom: 23px;
    margin-left: 82px;
    position: absolute;
    right: -25%;
}
.box-three-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: var(--color-black);
    letter-spacing: 6px;
    margin-bottom: 19px;
}
.box-three-text {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #A5A5A5;
    text-align: center;
}

